PORT=3000
DATABASE_URL="postgresql://hono:hono@localhost:55432/hono"
REDIS_HOST="127.0.0.1"
REDIS_PORT=6379
OPEN_AI_API_KEY="your_api_key_here"
BASE_URL="https://gateway.devscale.id/v1"
MODEL_NAME="gemini-3.7-flash"
